<div class="filters">
  <mat-select [(value)]="areaSelected" (selectionChange)="onChange()">
    <mat-option [value]="0">Area</mat-option>
    <mat-option *ngFor="let area of areas" [value]="area.id">{{
      area.name
    }}</mat-option>
  </mat-select>
  <mat-select [(value)]="seasonSelected" (selectionChange)="onChange()">
    <mat-option [value]="0">Season</mat-option>
    <mat-option *ngFor="let season of seasons" [value]="season.id">{{
      season.name
    }}</mat-option>
  </mat-select>
  <mat-select [(value)]="locationSelected" (selectionChange)="onChange()">
    <mat-option [value]="0">Location</mat-option>
    <mat-option *ngFor="let location of locations" [value]="location.id">{{
      location.name
    }}</mat-option>
  </mat-select>
  <div *ngIf="isHR" class="form-group">
    <label for="MyInternships">My Internships</label>
    <input
      class="checkbox"
      type="checkbox"
      name="MyInternships"
      (change)="isMyInternshipsChanged($event)"
    />
  </div>
</div>
