.mat-button {
  outline: none;
  background-color: black;
  color: white;
}

.long-row {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0 15px;
}

.row .form-group {
  flex: 1;
  max-width: unset;
  display: flex;
  flex-flow: column;
}

.mat-dialog-content {
  max-height: fit-content;
}
