<div class="internship-card" (click)="onClick()">
  <div class="internship-icon" [ngSwitch]="internship?.areaName">
    <mat-icon *ngSwitchCase="'Computer Science'">laptop</mat-icon>
    <mat-icon *ngSwitchCase="'Business'">business_center</mat-icon>
    <mat-icon *ngSwitchCase="'Marketing'">public</mat-icon>
    <mat-icon *ngSwitchCase="'Arts'">brush</mat-icon>
    <mat-icon *ngSwitchCase="'Human Resources'">people_alt</mat-icon>
  </div>
  <div class="internship-details">
    <div class="top-details">
      <div class="top-details-left">
        <div class="title">{{ internship?.title }}</div>
        <div class="season">{{ internship?.seasonName }}</div>
      </div>
      <div class="top-details-right">
        <div class="company">{{ internship?.company | titlecase }}</div>
        <div class="location">{{ internship?.locationName }}</div>
      </div>
    </div>
    <div class="bottom-details">
      {{ internship?.catchDescription }}
    </div>
  </div>
</div>
