/* @import "../internship-card/internship-card.component.css"; */

mat-icon {
  font-size: 25px;
  width: 25px;
  height: 25px;
  margin-right: 9px;
  margin-top: 3px;
}

.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.title {
  display: flex;
  margin-top: 4px;
}

.close-button {
  outline: none;
  padding: 0;
  margin: 0;
  top: -24px;
  right: -6px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  text-align: end;
  cursor: pointer;
  position: absolute;
}

.close-button:hover {
  background-color: white;
}

.details {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 14px;
}

.right {
  text-align: end;
}

.job-description {
  margin-top: 24px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  padding-bottom: 13px;
}

.mat-dialog-actions .mat-button {
  background-color: black;
  color: white;
  width: 110px;
  height: 45px;
  font-size: 15px;
  outline: none;
}
